<div class="container" ng-app="App">
    
    <div ng-controller="itemController">
        <div class="card card-price col-md-4" ng-repeat="item in items">
            <div class="card-img">
                <a href="#">
                    <img src="{{item.foto}}" class="img-responsive">
                    <div class="card-caption">
                        
                    </div>
                </a>
            </div>
            <div class="card-body">
                <div class="price">{{item.preco | currency}}</div>
                <div class="lead">{{item.descricao}}</div>
                <ul class="details">
                    
                </ul>
                <a href="#" class="btn btn-primary btn-lg btn-block buy-now" ng-click="Comprar(item)">
                    Buy now <span class="glyphicon glyphicon-triangle-right"></span>
                </a>
            </div>
        </div>
    </div>
</div>





@section Scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.8/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-i18n/1.7.9/angular-locale_pt-br.min.js"></script>
    <script>

        var app = angular.module("App", []);

        app.controller("itemController", function ($scope) {

            var url = "https://localhost:5001";

            $.ajax({
                url: `${url}/api/item`,
                async: false
            }).done(function (data) {
                $scope.items = data;
            })

            $scope.Comprar = function (item) {
                debugger;
                $.post(`${url}/api/item/comprar/${item.id}/BDZ1005/1`, function (d) {
                    console.log(d);
                });
            }

        });



    </script>

}